<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Beginning J2EE Chapter 5-2, Thread-Unsafe Login</display-name>
	<servlet>
		<servlet-name>LoginThreadUnsafe</servlet-name>
		<servlet-class>web.LoginTUS</servlet-class>
		<init-param>
			<param-name>sleep.time</param-name>
			<param-value>10000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginThreadUnsafe</servlet-name>
		<url-pattern>/LoginThreadUnsafe</url-pattern>
	</servlet-mapping>
</web-app>
