<!DOCTYPE html>

<!-- We also want to be able to remove items from the shopping list. -->
<!-- In the controller, make a function named removeItem, which takes the index of the item you want to remove, as a parameter. -->
<!-- In the HTML, make a <span> element for each item, and give them an ng-click directive which calls the removeItem function with the current $index. -->

<html>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
 </script>
 <body>
  <script>
   var _____ = _____.module("myShoppingList", []);
  app._____("myCtrl", _____(_____) {
    _____.products = ["_____", "Bread", "Cheese"];
    $scope._____ = function () {
        $scope.products._____($scope._____);
    }
    $scope.removeItem = _____ (x) {
        $scope._____.splice(_____, _____);
    }
});
  </script>
  <div ng-_____="_____" ng-_____="_____">
   <ul>
    <li ng-repeat="x in products">
     {{x}}
     <span ng-click="removeItem($index)">
      ×
     </span>
    </li>
   </ul>
   <input ng-model="addMe"/>
   <button ng-click="addItem()">
    Add
   </button>
  </div>
  <!-- Click the little x to remove an item from the shopping list. -->
  <p>
   Click the little x to remove an item from the shopping list.
  </p>
 </body>
</html>

