<!DOCTYPE html>
<html>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
 </script>
 <body>
	 <!-- The item is already in your shopping list. -->
  <script>
   var app = angular.module("itemsApp", []);
   app.controller("viewController", function($scope) {
    $scope.items = ["Cheese", "Bread", "Milk"];
    $scope.pushItem = function () {
        $scope.errortext = "";
        if (!$scope.newItem) {return;}
        if ($scope.items.indexOf($scope.newItem) == -1) {
            $scope.items.push($scope.newItem);
        } else {
            $scope.errortext = "Item " + $scope.newItem + " is already in the list.";
        }
    }
    $scope.removeItem = function (item) {
        $scope.errortext = "";
        $scope.items.splice(item, 1);
    }
});
  </script>
  <div ng-app="itemsApp" ng-controller="viewController">
   <ul>
    <li ng-repeat="item in items">
     {{item}}
     <span ng-click="removeItem($index)">
      x
     </span>
    </li>
   </ul>
   <input ng-model="newItem"/>
   <button ng-click="pushItem()">
    Add
   </button>
   <p>
    {{errortext}}
   </p>
  </div>
  <!-- Try to add the same item twice, and you will get an error message. -->
  <p>
   Try to add the same item twice, and you will get an error message.
  </p>
 </body>
</html>

