<!DOCTYPE html>
<!-- In the HTML, add a text field, and bind it to the application with the ng-model directive. -->
<!-- In the controller, make a function named addItem, and use the value of the addMe input field to add an item to the products array. -->
<!-- dd a button, and give it an ng-click directive that will run the addItem function when the button is clicked.  -->
<html>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
 </script>
 <body>
  <script>
   var app = angular.module("myShoppingList", []); 
   app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
    $scope.addItem = function () {
        $scope.products.push($scope.addMe);
    }    
});
  </script>
  <div ng-app="myShoppingList" ng-controller="myCtrl">
   <ul>
    <li ng-repeat="x in products">
     {{x}}
    </li>
   </ul>
   <input ng-model="addMe"/>
   <button ng-click="addItem()">
    Add
   </button>
  </div>
  <!-- Write in the input field to add items. -->
  <p>
   Write in the input field to add items.
  </p>
 </body>
</html>

