<!DOCTYPE html>
<html>
<script src="____<!DOCTYPE html>
<html>
<script src="____s://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

 First Name: <input type="text" ng-model="firstName"><_____>
 _____ _____: <_____ _____="text" _____-_____="_____"><br>
<br>
 Full Name: {{_____ + " " + _____}}

</div>

<script>
 var app = angular.module('myApp', []);
 app._____('myCtrl', _____($scope) {
    _____.firstName = "John";
    _____.lastName = "Doe";
});
</script>

</body>
</html>
s://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

 First Name: <input type="text" ng-model="firstName"><_____>
 _____ _____: <_____ _____="text" _____-_____="_____"><br>
<br>
 Full Name: {{_____ + " " + _____}}

</div>

<script>
 var app = angular.module('myApp', []);
 app._____('myCtrl', _____($scope) {
    _____.firstName = "John";
    _____.lastName = "Doe";
});
</script>

</body>
</html>
