<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<p>Click on a header:</p>

<div ng-app="anapp" ng-controller="viewController">

<table border="1" width="100%">
<tr>
<th ng-click="orderByThis('name')">Name</th>
<th ng-click="orderByThis('country')">Country</th>
</tr>
<tr ng-repeat="person in people | orderBy:toOrderBy">
<td>{{person.name}}</td>
<td>{{person.country}}</td>
</tr>
</table>

</div>

<script>
 angular.module('anapp', []).controller('viewController', function($scope) {
    $scope.people = [
        {name:'Mgumbo',country:'Zambia'},
        {name:'Ernst',country:'Austria'},
        {name:'Harry',country:'New Zealand'},
        {name:'Roberto',country:'Ecuador'},
        {name:'Elaine',country:'United States'}
        ];
    $scope.orderByThis = function(col) {
        $scope.toOrderBy = col;
    }
});
</script>

</body>
</html>
