<!DOCTYPE html>
<!--The ng-app directive defines the AngularJS application. -->
<!--The ng-controller directive defines the application controller. -->
<!--The ng-model directive binds two input elements to the user object in the model. -->
<!--The formCtrl controller sets initial values to the master object, and defines the reset() method. -->
<!--The reset() method sets the user object equal to the master object. -->

<!--The ng-click directive invokes the reset() method, only if the button is clicked. -->
<!--The novalidate attribute is not needed for this application, but normally you will use it in AngularJS forms, to override standard HTML5 validation. -->
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<html lang="en">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
 </script>
 <body>
  <div ng-app="anapp" ng-controller="viewController">
   <form nmvalidate="">
    Last Name:
    <br/>
    <input ng-model="person.firstname" type="text"/>
    <br/>
    Last Name:
    <br/>
    <input ng-model="person.lastname" type="text"/>
    <br/>
    <br/>
    <button ng-click="reset()">
     RESET
    </button>
   </form>
   <p>
    Form = {{person}}
   </p>
   <p>
    Master = {{master}}
   </p>
  </div>
  <script>
   var app = angular.module('anapp', []);
    app.controller('viewController', function($scope) {
    $scope.master = {firstname:"Will", lastname:"Clark"};
    $scope.reset = function() {
        $scope.person = angular.copy($scope.master);
    };
    $scope.reset();
});
  </script>
 </body>
</html>

