<!DOCTYPE html>
<html>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
 </script>
 <body ng-app="">
  <form>
   Select a button:
   <input ng-model="formModel" type="radio" value="dogs"/>
   Dogs
   <input ng-model="formModel" type="radio" value="tutorials"/>
   Tutorials
   <input ng-model="formModel" type="radio" value="cars"/>
   Cars
  </form>
  <div ng-switch="formModel">
   <div ng-switch-when="dogs">
    <h1>
     Dogs
    </h1>
    <p>
     Welcome to the Wide World of Doggies
    </p>
   </div>
   <div ng-switch-when="tutorials">
    <h1>
     Tutorials
    </h1>
    <p>
     Go with Tutorials.
    </p>
   </div>
   <div ng-switch-when="cars">
    <h1>
     Cars
    </h1>
    <p>
     Learn about cars.
    </p>
   </div>
  </div>
  <!-- The ng-[used with lights] directive hides and shows HTML sections depending on the value of the radio buttons. -->
  <p>
   The ng-[used with lights] directive hides and shows HTML sections depending on the value of the radio buttons.
  </p>
 </body>
</html>

