<!DOCTYPE html>
<html>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
 </script>
 <div ng-app="">
  <form>
   Make a selection:
   <input ng-model="myModel" type="radio" value="soap"/>
   Soap
   <input ng-model="myModel" type="radio" value="cheese"/>
   Cheese
   <input ng-model="myModel" type="radio" value="cereal"/>
   Cereal
  </form>
  <div ng-switch="myModel">
   <div ng-switch-when="soap">
    <h1>
     Soap
    </h1>
    <p>
     Ivory, Zest or Irish Spring
    </p>
   </div>
   <div ng-switch-when="cheese">
    <h1>
     Cheese
    </h1>
    <p>
     Kraft or Sargento
    </p>
   </div>
   <div ng-switch-when="cereal">
    <h1>
     Cereal
    </h1>
    <p>
     Post or Kelloggs
    </p>
   </div>
  </div>
  <!-- The ng-[used with lights] directive hides and shows HTML sections depending on the value of the radio buttons. -->
  <p>
   The ng-[used with lights] directive hides and shows HTML sections depending on the value of the radio buttons.
  </p>
 </body>
</html>
