<!DOCTYPE html>
<html>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
 </script>
 <body ng-app="">
	 <!-- Try leaving the first input field blank: -->
  <p>
   Try leaving the first input field blank:
  </p>
  <form name="aform">
   <p>
    Name:
    <input name="nameInput" ng-model="nameModel" required=""/>
    <span ng-show="aform.nameInput.$touched &amp;&amp; aform.nameInput.$invalid">
     The name is required.
    </span>
   </p>
   <p>
    State:
    <input name="stateInput" ng-model="stateModel" required=""/>
   </p>
  </form>
  <!-- We use the ng-show directive to only show the error message if the field has been touched AND is empty. -->
  <p>
   We use the ng-show directive to only show the error message if the field has been touched AND is empty.
  </p>
 </body>
</html>

