table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #4CAF50;
  color: white;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
