<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- UNIQUE TO RESUME -->

  <!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Resume Application</display-name>
	
	<servlet>
		<servlet-name>ShowResume</servlet-name>
		<servlet-class>TestRtnVals</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowResume</servlet-name>
		<url-pattern>/showResume</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FindResume</servlet-name>
		<servlet-class>FindResume</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindResume</servlet-name>
		<url-pattern>/FindResume</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetHint</servlet-name>
		<servlet-class>app.GetHint</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetHint</servlet-name>
		<url-pattern>/GetHint</url-pattern>
	</servlet-mapping>
	
<!-- FROM SIMPLE - STRUTS -->	
	  <!-- Standard Action Servlet Configuration (with debugging) -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
	  org.apache.struts.action.ActionServlet
	</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>ApplicationResources</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>

 </servlet>


  <!-- Action Servlet Mapping -->
   <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- The Usual Welcome File List   -->
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>


  <!-- Struts Tag Library Descriptors 
  <taglib>
    <taglib-uri>/tags/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-form</taglib-uri>
    <taglib-location>/WEB-INF/struts-form.tld</taglib-location>
  </taglib>
    
  <taglib>
    <taglib-uri>/tags/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>
	
  <taglib>
    <taglib-uri>/tags/struts-template</taglib-uri>
    <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
  </taglib>
  
  <taglib>
    <taglib-uri>/tags/struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
  </taglib>
  
  <taglib>
    <taglib-uri>/tags/struts</taglib-uri>
    <taglib-location>/WEB-INF/struts.tld</taglib-location>
  </taglib>
  -->
</web-app>