<settings>

<interactiveMode>true</interactiveMode>

<offline>false</offline>

<proxies>
   <proxy>
      <id></id>
      <active>true</active>
      <protocol>http</protocol>
      <username></username>
      <password></password>
      <host>/host>
      <port>8080</port>
      <nonProxyHosts></nonProxyHosts>
    </proxy>
</proxies>

<servers>

	
   </servers>
   
     <mirrors>
  </mirrors>
  
<profiles>

	<profile>
		<id>basic</id>
		<repositories>
		</repositories>
      
    </profile>
  </profiles>

  <!-- activeProfiles
  | List of profiles that are active for all builds.
  | -->
  <activeProfiles>
    <activeProfile>basic</activeProfile>
  </activeProfiles>
 
</settings>
